body{
    /* Gratis bakgrundsbild från pexels.com */
    background-image: url(https://images.pexels.com/photos/532563/pexels-photo-532563.jpeg);
    background-repeat: no-repeat;
    font-family: Verdana, Helvetica, Arial, sans-serif;  
}

/* Container med grid, main och sidebar inuti */
.container{
    display: grid;
    grid-template-rows: 3;
    grid-template-areas:
    "top sidebar"
    "nav sidebar"
    "mainArticle sidebar";
    grid-template-columns: 1300px 1fr;
    margin-left: 125px;
    }

header{
    grid-area: top;
    background-color: #C8102E;
    font-weight: bold;
    height: 125px;
    width: 1300px;
    margin-top: 25px;
    border-style: outset;
    border-color: #00B2A9;
    }
    
nav{
    grid-area: nav;
    display: flex;
    background-color: #C8102E;
    font-weight: bold;
    height: 50px;
    width: 1300px;
    margin-top: 25px;
    border-style: outset;
    border-color: #00B2A9; 
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    }

main{
    grid-area: mainArticle;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-weight: bold;
    height: auto;
    width: 1300px;
    margin-top: 25px;
    border-style: outset;
    border-color: #00B2A9;
    padding-top: 25px;
    }

.article{
    display: flex;
    font-weight: bold;
    border-width: 10px;
    justify-content: center;
    border-left: #C8102E solid 5px;
    height: 420px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 15px;
    margin-bottom: 25px;
    }

sidebar{
    grid-area: sidebar;
    background-color: #C8102E;
    margin-top: 25px; 
    height: 700px;
    width: 300px;     
    text-align: center; 
    border-style: outset;
    border-color: #00B2A9;
    margin-left: 50px;
    padding-top: 25px;
    position: fixed;
    right: 100px;
    overflow-x: hidden;
    }

footer{
    display: flex;
    background-color: #C8102E;
    font-weight: bold;
    height: 60px;
    width: 1300px;
    border-style: outset;
    border-color: #00B2A9;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 125px;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    }

h1{
    color: white;
    font-family: albertus;
    font-size: 50px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0;
    }
    
#slogan{
    margin-top: 5px;
    color: #F6EB61;
    font-family: albertus;  
    text-align: center;
    font-size: medium;
    }

#topNews{
    margin-top: 25px;
    color: #F6EB61;
    font-family: albertus;  
    text-align: center;
    font-size: x-large;
        }    

.sideNav{
    color: #F6EB61;
    font-size: 20px;
    }
    
.sideNav:hover{
    transform: scale(1.2);
    }

a:hover{
    color: #00B2A9;
    }
      
a{ 
    text-decoration: none; 
    }

#fblogo:hover{
    content: url("facebookcolor.webp");
    transform: scale(1.2);
    }

#instalogo:hover{
    content: url("instagramcolor.webp");
    transform: scale(1.2);
    }

 #twitterlogo:hover{
    content: url("twittercolor.webp");
    transform: scale(1.2);
    } 

#ytlogo:hover{
    content: url("youtubecolor.webp");
    transform: scale(1.2);
    }

#football:hover{
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

@media only screen and (max-width: 576px) {

    .container{
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        }

    header{
        background-color: #C8102E;
        font-weight: bold;
        height: 100px;
        width: auto;
        margin-top: 10px;
        border-style: outset;
        border-color: #00B2A9;
        }

        h1{
            color: white;
            font-family: albertus;
            font-size: 30px;
            text-align: center;
            margin-top: 25px;
            margin-bottom: 0;
            }
            
        #slogan{
            margin-top: 5px;
            color: #F6EB61;
            font-family: albertus;  
            text-align: center;
            font-size: medium;
            }
            
    nav{
        background-color: #C8102E;
        font-weight: bold;
        width: auto;
        border-style: outset;
        border-color: #00B2A9;
        margin-top: 10px;
        justify-content: center;
        justify-content: space-evenly;
        align-items: center;
        }

        .sideNav{
            color: #F6EB61;
            font-size: 15px;
            }

    sidebar{
        background-color: #C8102E;
        margin-top: 10px; 
        height: 170px;
        width: auto;     
        text-align: center; 
        border-style: outset;
        border-color: #00B2A9;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 1px;
        position: relative;
        right: 0px;
        }

        #lfclogo{
            display: none;
        }

        #topNews{
            margin-top: 15px;
            color: #F6EB61;
            font-family: albertus;  
            text-align: center;
            font-size: 20px;
            }  

    main{
        display: flex;
        flex-direction: column;
        background-color: white;
        font-weight: bold;
        height: auto;
        width: auto;
        margin-top: 10px;
        border-style: outset;
        border-color: #00B2A9;
        padding-top: 25px;
        }
    
    .article{
        display: flex;
        font-weight: bold;
        border-width: 10px;
        border-left: #C8102E solid 5px;
        height: auto;
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 25px;
        }

        #pllogo{
            height: auto;
            width: 350px;
        }

        #cllogo{
            height: auto;
            width: 350px;
        }
        h3{
            font-size: 20px;
            }
        h4{
            font-size: 15px;
            }

    footer{
        display: flex;
        background-color: #C8102E;
        font-weight: bold;
        height: 60px;
        width: auto;
        border-style: outset;
        border-color: #00B2A9;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        justify-content: center;
        justify-content: space-evenly;
        align-items: center;
        }
}